<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="enGage.DL.Properties.Settings.enGageConnectionString"
            connectionString="Data Source=TORVDD001;Initial Catalog=enGage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="enGage.DL.Properties.Settings.enGageConnectionString1"
            connectionString="Data Source=OBSMELDEVSPS02.obs.com.au;Initial Catalog=enGage;User ID=engagedev;Password=take2TestP@@sW0rd1920$$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>